<h1 class="text-center">ALL ANIMAL SIGHTINGS</h1>

#foreach($sighting in $sightings)

<div class="col-md-4 row">
<h3>NAME OF SIGHTING: <a href="/sightings/$sighting.getId()">$sighting.getName()</a></h3>
</div>

#end
